lib/
bin/
!bin/*.bat
/build/.vs/PositionBasedDynamics
/build/CMakeFiles
/build/Demos
/build/Discregrid/include/Discregrid
/build/extern
/build/GenericParameters
/build/PositionBasedDynamics
/build/Simulation
/build/Utils
/build/x64
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
/build/CMakeCache.txt
/build/cmake_install.cmake
/build/CopyImguiFonts.vcxproj
/build/CopyImguiFonts.vcxproj.filters
/build/CopyPBDModels.vcxproj
/build/CopyPBDModels.vcxproj.filters
/build/CopyPBDScenes.vcxproj
/build/CopyPBDScenes.vcxproj.filters
/build/CopyPBDShaders.vcxproj
/build/CopyPBDShaders.vcxproj.filters
/build/Ext_Discregrid.vcxproj
/build/Ext_Discregrid.vcxproj.filters
/build/Ext_GenericParameters.vcxproj
/build/Ext_GenericParameters.vcxproj.filters
/build/INSTALL.vcxproj
/build/INSTALL.vcxproj.filters
/build/PositionBasedDynamics.sln
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/data/scenes/Cache
/Utils
